@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@ViewBag.Title Listesi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ürün Adı</th>
                            <th>Fiyat</th>
                            <th>Stok</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count == 0)
                        {
                            <tr>
                                <td>Kategori Bulunamadı</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProductID</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.Price</td>
                                    <td>@item.Stok</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <a href="/Category/Index/" class="btn btn-light">Geri gel</a>
        </div>
    </div>
</div>

